.card {
    width: 272px;
    height: 208px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
    float: left;
}

.price {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
}
